.Button {
  background-color: unset;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
  padding: 0.5rem 1rem;
  overflow: visible;
  text-transform: none;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-appearance: button;
}
