.MissionCard {
  margin: 1rem 0;
  max-width: 40rem;
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.31);
  border: 1px solid rgb(204, 204, 204);
  border-radius: 5px;
}

.MissionCard--text {
  padding: 0.5rem;
}
