.Text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  &--small {
    font-size: 0.5rem;
  }
  &--regular {
    font-size: 1rem;
  }
  &--large {
    font-size: 1.75rem;
  }
  &--thin {
    font-weight: 200;
  }
  &--regular {
    font-weight: 400;
  }
  &--bold {
    font-weight: 800;
  }
  &--withEllipses {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
